li {
    cursor: pointer; /*PARCE QUE LES BALISES "<a>" QUI RAJOUTE LA PETITE "MAIN" N'ONT PAS ETE UTILISEES */
}

.bouton-menu {
    flex:  1 1 auto;
}

.white {
    color: white;
}

.aCliquable {
    cursor: pointer;
}

.black {
    background-color: #000000;
}

.resize {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 39px;
}