<mat-toolbar class="black" fxLayoutAlign="space-between center">
  <app-menu></app-menu>
  <button mat-button class="aCliquable, white" routerLink="/membre/3"><img src="../assets/simplon-logo3.png" alt="simplon-logo" class="resize"> {{title}} </button>
  <div>
      <!-- <button mat-button routerLink="/admin" class="white"><mat-icon>settings</mat-icon></button> -->
      <button mat-button routerLink="/membre/4" class="white"><mat-icon>exit_to_app</mat-icon></button>
  </div>           
</mat-toolbar>
  