<div>
  <mat-card class="background">
      <div mat-card-avatar class="example-header-image">
              <img mat-card-image src="{{memb.image}}" alt="Avatar">
      </div>
      <mat-card-header>
          <mat-card-title>{{ memb.nom }} {{ memb.prenom }}</mat-card-title>
          <mat-card-subtitle>{{ memb.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>Bonjour {{ memb.prenom }}</h3>
        <p>{{ memb.prenom }} (alias {{ memb.pseudo }}), à ce jour, tu es {{ memb.fonction }} à Simplon.</p>
        <p>Tu estimes ton niveau général comme étant : {{ memb.niveau_general }}</p>
        <p>Tes disponibilités habituelles sont : {{ memb.disponibilite_habituelle }}</p>
        <p>Pseudo du Slack : {{memb.pseudo_slack}}</p>   
        <p>{{ memb.admin ? " A titre d'information, tu es administrateur du site." : " A titre d'information, tu n'es pas à ce jour administrateur du site."}}</p>
        <p>{{ memb.pseudo }}, {{ memb.disponibilite_actuelle ? " tu confirmes être actuellement disponible." : " tu confirmes n'être actuellement pas disponible." }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="edit = !edit">{{edit? 'Informations à jour' : 'Mettre à jour mes informations'}}</button>
        <br>
        <br>
        <button mat-raised-button (click)="inscriptionBoolean = !inscriptionBoolean">Gérer mes inscriptions</button>
        <button mat-raised-button color="primary" (click)="objectif = !objectif">Mes Objectifs <mat-icon>timeline</mat-icon></button>
        
        
      </mat-card-actions>
    </mat-card>
    <br>
    <br>
</div>

<br>
<div *ngIf="objectif">
    <div>
        <mat-card>
            <mat-card-content>
              <h2>Objectifs</h2>
              <mat-tab-group>
                <mat-tab label="Mes besoins">
                  <div *ngFor="let inscription of memb.inscriptions" class="textcenter">
                            {{inscription.type_inscription.type_inscription === "Passeur" ? inscription.savoir.nom_savoir + " (niveau " + inscription.niveau_savoir.niveau_savoir + ")" : ""}}
                  </div>
                </mat-tab>
                <mat-tab label="Mes connaissances">
                    <div *ngFor="let inscription of memb.inscriptions" class="textcenter">
                            {{inscription.type_inscription.type_inscription === "Receveur" ? inscription.savoir.nom_savoir + " (niveau " + inscription.niveau_savoir.niveau_savoir + ")" : ""}}
                    </div> 
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
    </div>
</div>
<br>

<div *ngIf="inscriptionBoolean">
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>
    
        <mat-table #table [dataSource]="dataSourceInscription" matSort>
        
            <!-- Id Column -->
            <ng-container matColumnDef="id_inscription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Réf. </mat-header-cell>
            <mat-cell *matCellDef="let inscription"> {{inscription.id_inscription}} </mat-cell>
            </ng-container>

            <!-- Nom Column -->
            <ng-container matColumnDef="nom_inscription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Clef d'accès </mat-header-cell>
                    <mat-cell *matCellDef="let inscription"> {{inscription.nom_inscription}} </mat-cell>
                    </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id_inscription}" (click)="highlight(row)"></mat-row>
        </mat-table>

        <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit(inscriptionForm)">

            <br>
            <mat-form-field class="inputFullWidth">
                <input matInput placeholder="Clef d'accès" required name="nom_inscription" [(ngModel)]="insc.nom_inscription">
            </mat-form-field>
            
            <br>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!inscriptionForm.valid">{{edition ? '' : 'Ajouter nouvelle clef d\'accès'}}</button>
        </form>

        <br>
        <button mat-raised-button (click)="ajouterInscriptionAuMembre()" [disabled]="!inscriptionForm.valid">{{edition ? '' : 'Récupération de la clé d\'accès'}}</button>
        <button mat-raised-button (click)="refreshTab()" [disabled]="!inscriptionForm.valid">{{edition ? '' : 'Raffraichir'}}</button>

        <br>
        <br>
        <button mat-raised-button (click)="ajouterTypeInscriptionaInscription()" [disabled]="!inscriptionForm.valid">{{edition ? 'Choisir un type d\'inscription' : ''}}</button>

        <div *ngIf="edition">    
            <br>
            <button mat-raised-button (click)="cancelSelectInsc()">Annuler</button>

            <br>
            <br>
            <button mat-raised-button class="buttonColorBlack" (click)="deleteInscriptionMembre(insc.id_inscription, insc.membre_id_membre)">Supprimer cette inscription</button>
            <br>
        </div>
    </div>
<br>

<div *ngIf="edit">
  <mat-slide-toggle name="admin" [(ngModel)]="memb.admin">{{memb.admin ? 'Administrateur' : 'N\'est pas Administrateur'}}</mat-slide-toggle>

  <br>
  <br>
  <mat-slide-toggle name="disponibilite_actuelle" [(ngModel)]="memb.disponibilite_actuelle">{{memb.disponibilite_actuelle ? 'Disponible' : 'Non disponible'}}</mat-slide-toggle>

  <br>
  <br>
  <form #membreForm="ngForm">
  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Pseudo" name="pseudo" [(ngModel)]="memb.pseudo">
  </mat-form-field>

  <br>
    <mat-form-field class="inputFullWidth">
        <input matInput placeholder="Lien image" name="image" [(ngModel)]="memb.image">
    </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Nom" required name="nom" [(ngModel)]="memb.nom">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Prénom" required name="prenom" [(ngModel)]="memb.prenom">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="E-mail" required name="email" [(ngModel)]="memb.email">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Pseudo du slack" name="pseudo_slack" [(ngModel)]="memb.pseudo_slack">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Fonction" name="fonction" [(ngModel)]="memb.fonction">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Niveau général" name="niveau_general" [(ngModel)]="memb.niveau_general">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Disponibilité habituelle" name="disponibilite_habituelle" [(ngModel)]="memb.disponibilite_habituelle">
  </mat-form-field>

  <!-- <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Disponibilité actuelle" name="disponibilite_actuelle" [(ngModel)]="memb.disponibilite_actuelle">
  </mat-form-field> -->

  <br>
  <br>
  <button mat-raised-button color="primary" (click)="editMembre()">Modifier</button>
  </form>

  <br>
  <br>
  <button mat-raised-button class="buttonColorBlack" (click)="deleteMembre()">Supprimer mon compte</button>
  <br>
</div>