img {
    position: absolute;
    left: 60px;
    top: 5px;
	width: 70px;
    height: auto;
  }

.background {
    background-color: #e3e2d5;
  }

.buttonColorBlack {
    background: black;
    color: white;
  }

.red {
    color: red;
}

.textcenter {
    text-align: center;
    margin-top: 2rem;
  }

.highlight {
    background: #E80041;
  }

.cursor {
cursor: pointer;
  }

@media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
      }
    .mat-header-row {
        display: none;
      }
    
    .mat-row { 
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
      }
}