img {
    position: absolute;
    left: 60px;
    top: 5px;
	width: 70px;
    height: auto;
}

.background {
    background-color: #e3e2d5;
}

.buttonColorBlack {
    background: black;
    color: white;
  }

.textcenter {
    text-align: center;
    margin-top: 2rem;
}