<div>
  <mat-card class="background">
      <div mat-card-avatar class="example-header-image">
              <img mat-card-image src="{{memb.image}}" alt="Avatar">
      </div>
      <mat-card-header>
          <mat-card-title>{{ memb.nom }} {{ memb.prenom }}</mat-card-title>
          <mat-card-subtitle>{{ memb.email }}</mat-card-subtitle>
          <mat-card-subtitle>Slack : <a href="https://simplon-co.slack.com/messages/C7BTFRZTL/team/U7BU86249">{{memb.pseudo_slack}}</a></mat-card-subtitle> 
      </mat-card-header>
      <mat-card-content>
        <h3>Bonjour {{ memb.prenom }}</h3>
        <p>{{ memb.prenom }} (alias {{ memb.pseudo }}), à ce jour, tu es {{ memb.fonction }} à Simplon.</p>
        <p>Tu estimes ton niveau général comme étant : {{ memb.niveau_general }}</p>
        <p class="bold">Tes disponibilités habituelles sont : {{ memb.disponibilite_habituelle }}</p>
        <p>{{ memb.admin ? " A titre d'information, tu es administrateur du site." : " A titre d'information, tu n'es pas à ce jour administrateur du site."}}</p>
        <p class ="red" [ngClass]="{'green': memb.disponibilite_actuelle === true}">{{ memb.disponibilite_actuelle ? " ACTUELLEMENT DISPONIBLE" : "ACTUELLEMENT NON DISPONIBLE" }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="edit = !edit"><mat-icon>mode_edit</mat-icon> {{edit? 'Informations à jour' : 'Mettre à jour mes informations'}}</button>
        <br>
        <br>
        <button mat-raised-button (click)="inscriptionBoolean = !inscriptionBoolean">Gérer mes objectifs <mat-icon>{{inscriptionBoolean ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</mat-icon></button>
        <button mat-raised-button color="primary" (click)="objectif = !objectif">Mes Objectifs <mat-icon>timeline</mat-icon></button>
        
        
      </mat-card-actions>
    </mat-card>
</div>

<br>
<div *ngIf="objectif">
    <div>
        <mat-card>
            <mat-card-content>
              <h2>Objectifs</h2>
              <mat-tab-group>
                <mat-tab label="Mes besoins">
                  <div *ngFor="let inscription of memb.inscriptions" class="textcenter">
                            {{inscription.type_inscription.type_inscription === "Passeur" ? "" : inscription.savoir.nom_savoir + " (niveau " + inscription.niveau_savoir.niveau_savoir + ")"}}
                  </div>
                </mat-tab>
                <mat-tab label="Mes connaissances à partager">
                    <div *ngFor="let inscription of memb.inscriptions" class="textcenter">
                            {{inscription.type_inscription.type_inscription === "Receveur" ? "" : inscription.savoir.nom_savoir + " (niveau " + inscription.niveau_savoir.niveau_savoir + ")"}}
                    </div> 
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
    </div>
</div>
<br>

<mat-card *ngIf="inscriptionBoolean">
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>
    
        <mat-table class="mobile-label, cursor" #table [dataSource]="dataSourceInscription" matSort>

            <!-- Type inscription Column -->
            <ng-container matColumnDef="type_inscription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mon rôle </mat-header-cell>
            <mat-cell *matCellDef="let inscription" [ngClass]="{'red': inscription.type_inscription === null}"> {{inscription.type_inscription === null ? 'A DEFINIR' : inscription.type_inscription.type_inscription}} </mat-cell>
            </ng-container>

            <!-- Nom Savoir Column -->
            <ng-container matColumnDef="nom_savoir">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sujet </mat-header-cell>
            <mat-cell *matCellDef="let inscription" [ngClass]="{'red': inscription.savoir === null}"> {{inscription.savoir === null ? 'A DEFINIR' : inscription.savoir.nom_savoir}} </mat-cell>
            </ng-container>

            <!-- Nom Savoir Column -->
            <ng-container matColumnDef="niveau_savoir">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau de connaissances </mat-header-cell>
                    <mat-cell *matCellDef="let inscription" [ngClass]="{'red': inscription.niveau_savoir === null}"> {{inscription.niveau_savoir === null ? 'A DEFINIR' : inscription.niveau_savoir.niveau_savoir}} </mat-cell>
                    </ng-container>

            <!-- Nom Column -->
            <ng-container matColumnDef="nom_inscription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire </mat-header-cell>
                    <mat-cell *matCellDef="let inscription"> {{inscription.nom_inscription}} </mat-cell>
                    </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id_inscription}" (click)="highlight(row)"></mat-row>
        </mat-table>

        <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit(inscriptionForm)">

            <br>
            <mat-form-field class="inputFullWidth">
                <input matInput placeholder="Nouvel objectif (Commentaire)" required name="nom_inscription" [(ngModel)]="insc.nom_inscription">
            </mat-form-field>
            
            <br>
            <br>
            <button *ngIf="!edition" mat-raised-button color="primary" type="submit" [disabled]="!inscriptionForm.valid"><mat-icon>fiber_new</mat-icon> Nouvel objectif</button>
        </form>

        <!-- <br>
        <button mat-raised-button color="primary" (click)="addInscriptionAuMembre()" [disabled]="!inscriptionForm.valid">{{edition ? '' : 'Importer mes inscriptions'}}</button> -->

        <br>
        <button *ngIf="!edition" mat-raised-button (click)="cancelSelectInsc()">Annuler</button>

        <br>
        <button *ngIf="edition" mat-raised-button color="primary" (click)="addTypeInscriptionaInscription()" [disabled]="!inscriptionForm.valid"><mat-icon>supervisor_account</mat-icon> Mon rôle</button>
        
        <br>
        <br>
        <button *ngIf="edition" mat-raised-button color="primary" (click)="addSavoiraInscription()" [disabled]="!inscriptionForm.valid">Sujet <mat-icon>share</mat-icon></button>

        <br>
        <br>
        <button *ngIf="edition" mat-raised-button color="primary" (click)="addNiveauSavoiraInscription()" [disabled]="!inscriptionForm.valid"><mat-icon>insert_chart</mat-icon> Niveau de connaissances</button>

        <div *ngIf="edition">
            <br>
            <button mat-raised-button (click)="refreshTab()" [disabled]="!inscriptionForm.valid"><mat-icon>refresh</mat-icon> Mise à jour des données</button>
            
            <br>
            <br>
            <button mat-raised-button (click)="cancelSelectInsc()">Annuler</button>

            <br>
            <br>
            <button mat-raised-button class="buttonColorBlack" (click)="deleteInscription(insc.id_inscription)">Supprimer cette inscription</button>
            <br>
            <br>
        </div>
    </mat-card>
<br>

<mat-card class="width" *ngIf="edit">
  <!-- <mat-slide-toggle name="admin" [(ngModel)]="memb.admin">{{memb.admin ? 'Administrateur' : 'N\'est pas Administrateur'}}</mat-slide-toggle>

  <br>
  <br> -->
  <mat-slide-toggle name="disponibilite_actuelle" [(ngModel)]="memb.disponibilite_actuelle">{{memb.disponibilite_actuelle ? 'Disponible' : 'Non disponible'}}</mat-slide-toggle>

  <br>
  <br>
  <form #membreForm="ngForm">
  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Pseudo" name="pseudo" [(ngModel)]="memb.pseudo">
  </mat-form-field>

  <br>
    <mat-form-field class="inputFullWidth">
        <input matInput placeholder="Lien Avatar" name="image" [(ngModel)]="memb.image">
    </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Nom" required name="nom" [(ngModel)]="memb.nom">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Prénom" required name="prenom" [(ngModel)]="memb.prenom">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="E-mail" required name="email" [(ngModel)]="memb.email">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Pseudo du slack" name="pseudo_slack" [(ngModel)]="memb.pseudo_slack">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Fonction" name="fonction" [(ngModel)]="memb.fonction">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Niveau général" name="niveau_general" [(ngModel)]="memb.niveau_general">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Disponibilité habituelle" name="disponibilite_habituelle" [(ngModel)]="memb.disponibilite_habituelle">
  </mat-form-field>

  <!-- <br>
  <mat-form-field class="inputFullWidth">
      <input matInput placeholder="Disponibilité actuelle" name="disponibilite_actuelle" [(ngModel)]="memb.disponibilite_actuelle">
  </mat-form-field> -->

  <br>
  <br>
  <button mat-raised-button color="primary" (click)="editMembre()"><mat-icon>mode_edit</mat-icon> Modifier</button>
  </form>

  <br>
  <br>
  <button mat-raised-button class="buttonColorBlack" (click)="deleteMembre()"><mat-icon>warning</mat-icon> Supprimer mon compte</button>
  <br>
</mat-card>