<h2 mat-dialog-title *ngIf="test(); else ressourceVide">Liste des ressources liées à ce Savoir : {{savoir.nom_savoir}}</h2>

<ng-template #ressourceVide>
    <h2 mat-dialog-title>Aucune ressource n'est liée à ce Savoir actuellement.</h2>
</ng-template>

<mat-dialog-content>
  <mat-list *ngFor="let ressource of ressources">
    <mat-list-item>
      <div>{{ressource.nom_ressource}} : {{ressource.url}}</div>
      <button class="mat-button" matTooltip="Ne plus lier cette ressource à cette affaire." matTooltipPosition="right" (click)="delierDuSavoir(ressource.id)"><mat-icon>delete</mat-icon></button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>


<mat-dialog-actions>
  <button class="mat-raised-button" (click)="closeDial()">Fermer</button>
</mat-dialog-actions>
