.highlight {
  background: #E80041;
}

.textaligncenter {
  text-align: center;
}

.textalignleft {
  text-align: left;
}

.background {
  background-color: #e3e2d5;
}

.buttonColorRed {
  background: #E80041;
}

.buttonColorBlack {
  background: black;
  color: white;
}

.top {
  top: 3px;
}

.width {
  width: 25%;
}

@media (max-width: 600px) {
  .width {
    width: auto;
  }
}

.red {
  color: #E80041;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

img {
  position: absolute;
  left: 60px;
  top: 5px;
  width: 70px;
  height: auto;
}

.textcenter {
  text-align: center;
  margin-top: 2rem;
}

.cursor {
  cursor: pointer;
}

@media(max-width: 600px) {

  img {
    left: 40px;
    top: 0px;
  }
  
}