.aCliquable {
    cursor: pointer;
}

.black {
    background-color: #000000;
}

.white {
    color: white;
}

.resize {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 39px;
}