<mat-card>
  <mat-card>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
      </mat-form-field>
    </div>

    <mat-table class="textalign" #table [dataSource]="dataSourceSavoir" matSort>

      <!-- Nom Column -->
      <ng-container matColumnDef="nom_savoir">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sujet(s) </mat-header-cell>
        <mat-cell *matCellDef="let savoir"> {{savoir.nom_savoir}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id_savoir}" (click)="highlight(row)"></mat-row>
    </mat-table>

  <div *ngIf="edition">
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="membresDeSavoir()"><mat-icon>supervisor_account</mat-icon> Membres inscrits à ce Sujet</button>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="ressourcesDuSavoir()"><mat-icon>device_hub</mat-icon> Ressources liées à ce Sujet</button>
  </div>
  </mat-card>

    <br>
    <br>
  <form #savoirForm="ngForm" (ngSubmit)="onSubmit(savoirForm)">

    <br>
    <mat-form-field class="inputFullWidth">
        <input matInput placeholder="Sujet" required name="nom_savoir" [(ngModel)]="sav.nom_savoir">
    </mat-form-field>

    <br>
    <br>
    <button mat-raised-button type="submit" [disabled]="!savoirForm.valid"><mat-icon>mode_edit</mat-icon> {{edition ? 'Modifier' : 'Ajouter'}}</button>
  </form>

  <div *ngIf="edition">
    <br>
    <button mat-raised-button color="primary" (click)="ajouterRessourceAuSavoir()"><mat-icon>fiber_new</mat-icon> Ajouter une ressource à ce Sujet</button>

    <br>
    <br>
    <button mat-raised-button (click)="cancelSelect()">Annuler</button>

    <br>
    <br>
    <button mat-raised-button class="buttonColorBlack" (click)="deleteSavoir()"><mat-icon>warning</mat-icon> Supprimer ce Sujet</button>
    <br>
  </div>
</mat-card>