.highlight {
    background: #E80041;
  }

.buttonColorBlack {
  background: black;
  color: white;
  }

.textcenter {
  text-align: center;
  margin-top: 2rem;
  }

.textalign {
  text-align: center;
}