.highlight {
  background: #E80041;
}

.background {
  background-color: #e3e2d5;
}

.img {
  /* position: absolute;
    left: 60px;
    top: 5px;
	  width: 70px;
    height: auto; */
  /* display: flex; */
  /* align-self: center; */
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@media(max-width: 600px) {
  .img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

.textCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

h5 {
  font-style: italic;
}

.card {
  max-width: 400px;
}
